DB_USER=postgres
DB_PASSWORD=your_postgress_password
DB_HOST=localhost  
DB_PORT=5432
DB_NAME=game
JWT_SECRET=your_jwt_secret_key
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120
DEBUG=True
FRIEND_REFERENCE=your_secret_word_for_registration_you_will_tell_your_friends
POOL_SIZE=5
MAX_OVERFLOW=5
LOG_FILE=logs/game.log
LOG_ROTATION=12 MB
LOG_RETENTION=2 days
IN_DEVELOPMENT=False
FORCE_RECREATE_DB=False
LANGUAGE=en
MAX_WORD_LEN=8
GAME_DURATION=3600
CHECK_INTERVAL=40
AI_API_PATH=https://api.z.ai/api/coding/paas/v4
AI_API_KEY=your_api_key_to_the_model