# Окружение и секреты 
.env

# Папки Python
__pycache__/
*.py[cod]
.venv/
env/
venv/
logs/
uploads/

#  qwen2.5-0.5b ....
data/qwen2.5-0.5b-instruct-q4_k_m.gguf
models/
*.gguf

# Docker
.dockerignore
*.log
package-lock.json
package.json

.vscode/
.idea/

# windtails
node_modules/
src/
