<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess the word game</title>
    <script src="https://telegram.org"></script>
    
    <script>
        const tg = window.Telegram?.WebApp;
        
        if (tg && tg.initData) {
            const encodedData = encodeURIComponent(tg.initData);
            window.location.href = `/telegram/auth?tg_data=${encodedData}`;
        }
    </script>    
  </head>
  <body style="min-height:95%;width:95%;text-align:center;color:blue;">
      <h2>Loading ... </h2>
  </body>
</html>
